<!DOCTYPE html>
<html lang="cs">
<head>

  <meta charset="utf-8">
  <title>Harmonogram | Symposion GJK 2016</title>
  <meta name="description" content="Symposion je přednáškové fórum pořádané studenty Gymnázia Jana Keplera. Letošní ročník se uskuteční ve dnech 16. - 18. listopadu 2016. Těšit se můžete na řadu osobností nejen české akademické scény.">
  <meta name="author" content="Jan Preiss, Václav Volhejn">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-69182521-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body>

  <div class="ribbon">
        <nav>
          <ul id="menu">
            <li><a href="index.html">Domů</a></li>
            <li class="mediator">//</li>
            <li><a href="info.html">Informace</a></li>
            <li class="mediator">//</li>
            <li><a href="harmonogram.php">Harmonogram</a></li>
          </ul>
        </nav>
  </div>

  <div class="container">
    <div id="main" class="row">
      <h4>Úterý 15. 11.</h4>
      <table class="u-full-width u-max-full-width">
        <thead>
          <tr>
            <th class="centered">Čas</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="white-space:nowrap">
              18:00<br>-<br>00:00
            </th>
            <td style="width: 99%" class="centered">
              <a href="profil.php?id=49">
                <strong>Pískání v uších</strong>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
    <div id="main" class="row">
      {{#days}}
        <h4>{{name}}</h4>
        <table class="u-full-width u-max-full-width">
          <thead>
            <tr>
              <th class="centered">Čas</th>
              {{#rooms}}
              <th {{#noCenter}}style="text-align: left"{{/noCenter}}>{{.}}</th>
              {{/rooms}}
            </tr>
          </thead>
          <tbody>
          {{#times}}
          <tr>
            <th>{{{timeslot}}}</th>  {{! neescapovat <br>}}
            {{#events}}
              {{#special}}
              <td colspan="{{cols}}" class="centered">{{name}}</td>
              {{/special}} {{^special}}
              <td{{^name}} class="empty"{{/name}}>
                {{#link}}
                  <a href="profil.php?id={{id}}">
                    {{#speakerName}} {{! s autorem}}
                    <strong>{{speakerName}}{{#talkName}}:{{/talkName}}</strong> {{talkName}}
                    {{/speakerName}} {{^speakerName}} {{! bez autora}}
                    <strong>{{talkName}}</strong>
                    {{/speakerName}}
                  </a>
                {{/link}}{{^link}}
                  {{name}}
                {{/link}}
              </td>
              {{/special}}
            {{/events}}
          </tr>
          {{/times}}
          </tbody>
        </table>
      {{/days}}
    </div>
  </div>
</body>
</html>
