<!DOCTYPE html>
<html lang="cs">
<head>

  <meta charset="utf-8">
  <title>{{shortName}} | Profil | Symposion GJK 2016</title>
  <meta name="description" content="Symposion je přednáškové fórum pořádané studenty Gymnázia Jana Keplera. Letošní ročník se uskuteční ve dnech 16. - 18. listopadu 2016. Těšit se můžete na řadu osobností nejen české akademické scény.">
  <meta name="author" content="Jan Preiss, Václav Volhejn">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>

  <div  class="container">
    
    <!--menu-->
    <nav>
      <ul id="menu">
        <li><a href="index.html">Domů</a></li>
        <li class="mediator">//</li>
        <li><a href="info.html">Informace</a></li>
        <li class="mediator">//</li>
        <li><a href="harmonogram.php">Harmonogram</a></li>
      </ul>
    </nav>
    
    <div id="main" class="row justified">
      <h4 class="topMarginated">
      {{#fullName}}{{fullName}}{{/fullName}}
      {{^fullName}}{{shortName}}{{/fullName}} {{! Nahradit krátkým jménem}}
      </h4>
      {{{speakerDescription}}}
      <h5>{{talkName}}</h5>
      {{{talkDescription}}}
    </div>
  </div>

</body>
</html>
